@charset "UTF-8";



:root{
    --cor_principal:#4F76C9;
    --cor_secundaria:#91CDF5;
    --cor_terciaria:#67DE7D;
    --cor_base:#ffff;
    --fonte_padrao: "Inter", sans-serif;
    --fonte_secundaria: "Instrument Sans", sans-serif;
}





*{
    padding: 0;
    margin: 0;
}


body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    
}



header{
    display: flex;
    width: 100vw;
    background-color: #4F76C9;
    justify-content: space-between;
    height: 18vh;
    
    
}


header>img:not(#logo){
    max-width: 15%;
    height: 100%;
    
}

menu>ul>li>a{
    text-decoration: none;
    color: var(--cor_base);
}


#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 5px;
    width: 23%;
    height: 80%;
    align-self: center;
    border-radius: 15px;
}


#logo>img{
    width: 90%;
    
}

menu{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    background-color: var(--cor_principal);
    border-top: 2px solid var(--cor_secundaria);
}

menu>a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor_terciaria);
    color: var(--cor_base);
    text-decoration: none;
    height: 40px;
    border: 1px solid var(--cor_base);
    width: 15%;
    font-size: 1.3em;
    font-family: var(--fonte_padrao);
    
}


menu>a:hover{
    background-color: var(--cor_secundaria);
}

#login{
    border-left: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#cadastro{
    border-right: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

menu>ul{
    display: flex;
    flex-flow: row nowrap;
    width: 50%;
    margin: auto;
    justify-content: center;
    gap: 50px;
    align-items: center;
    height: 50px;

}


menu>ul>li{
    list-style-type: none;
    font-family: var(--fonte_padrao);
    color: var(--cor_base);
    font-size: 1.4em;
    transition: .5;
    cursor: pointer;
}


menu>ul>li:hover{
    border-bottom: 2px solid var(--cor_terciaria);
}


#icone_usuario{
    width: 2%;
    height: 40px;
    border-radius: 20px;
    background-image: url("../estaticos/design/icone_usuario.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 30px;
    right: 0px;
    cursor: pointer;
    
}

#menu_user{
    width: 8%;
    border-left: 2px solid var(--cor_base);
    transition: 2s;


    
    
}



.menu_user_visivel{
    
    display: none;
}

#menu_user>ul>li{
    list-style: none;
    font-family: var(--fonte_padrao);
    font-size: 1em;
    color: var(--cor_base);
    margin-top: 3px;
    cursor: pointer;
    margin-left: 10px;

}

#menu_user>ul>li:hover{
    text-decoration: underline;
    text-decoration-color: var(--cor_terciaria);
    text-decoration-line: 5px;
}