{% include template %}

{% block conteudo%}



<section id="introducao">
    <img src="../estaticos/design/imagem_pg_inicial.jpg" alt="imagem_doutora">
    <section>
        <p>A gaúcha clínica oferece consultas médicas com profissionais experientes e dedicados em diversas especialidades. Nosso objetivo é proporcionar um atendimento atencioso, preciso e eficiente, sempre priorizando a sua saúde e bem-estar. Agende sua consulta e conte com uma equipe pronta para cuidar de você com responsabilidade e carinho.</p>
        <a href="/pagina_agendamentos">Agendar Consulta</a>
    </section>
</section>


<section id="especialidades_clinica">
    <p>Conheça nossos Serviços</p>
    
    <section id="descricoes">

    <dl>
        <div>
            <dt>Clínica médica/geral <i class="btn_seta"></i></dt>
            <dd class="conteudo_especialidade nao_visivel">A Clínica Médica é responsável pelo atendimento primário de adultos, realizando diagnósticos iniciais, acompanhamento de doenças crônicas e encaminhamentos para outras especialidades, quando necessário. É o primeiro contato para cuidados com a saúde. </dd>
        </div>

        <div>
            <dt>Otorrinolaringologia<i class="btn_seta"></i></dt>
            <dd class="conteudo_especialidade nao_visivel">Especialidade que cuida de doenças do ouvido, nariz e garganta. Trata problemas como rinite, sinusite, amigdalite, zumbido, rouquidão, perda auditiva, entre outros distúrbios respiratórios e auditivos. </dd>
        </div>

        <div>
            <dt>Oftalmologia <i class="btn_seta"></i></dt>
            <dd class="conteudo_especialidade nao_visivel">Focada na saúde dos olhos, essa especialidade realiza exames de visão, diagnóstico e tratamento de doenças oculares, como miopia, catarata, glaucoma e conjuntivite, além de prescrição de óculos e lentes.</dd>
        </div>

        <div>
            <dt>Ortopedia <i class="btn_seta"></i></dt>
            <dd class="conteudo_especialidade nao_visivel">Responsável pelo diagnóstico e tratamento de doenças e lesões dos ossos, músculos, articulações e ligamentos. Trata casos de fraturas, dores nas costas, entorses e problemas ortopédicos crônicos ou traumáticos. </dd>
        </div>

        <div>
            <dt>Nutrição <i class="btn_seta"></i></dt>
            <dd class="conteudo_especialidade nao_visivel">Acompanhamento nutricional individualizado com foco na promoção da saúde, prevenção de doenças e melhora da qualidade de vida. Auxilia na reeducação alimentar, emagrecimento, controle de colesterol, diabetes e muito mais. </dd>
        </div>
    </dl>

    <section>
        <p>Na nossa clínica, oferecemos consultas em diversas especialidades para atender às suas necessidades com qualidade e atenção. De cuidados gerais à saúde dos olhos, ouvidos, articulações e alimentação, nossa equipe está preparada para oferecer diagnósticos precisos, orientações personalizadas e acompanhamento contínuo. Aqui, sua saúde é prioridade em cada detalhe do atendimento.</p>
        <a href="https://api.whatsapp.com/send?phone=5551996921411">Saiba mais</a>
    </section>
</section>
</section>

<section id="sobre_nos" >

    <div>
        <div id="img1"></div>
        <div id="img2"></div>
        <div id="img3"></div>

        

    </div>

    <div id="baloes">
        <div id="img4"></div>
        <div id="img5"></div>

    </div>

    <section>
        <h1>Sobre Nós</h1>
        <p>Dois colegas de faculdade, apaixonados pela medicina e pelo cuidado com as pessoas, sempre sonharam em construir um espaço onde o atendimento fosse humano, acessível e de qualidade. Após anos de experiência em hospitais e clínicas, decidiram unir forças e fundar a Clínica Vida e Saúde. Com dedicação, reuniram uma equipe comprometida e criaram um ambiente acolhedor, onde cada paciente é tratado com atenção, respeito e profissionalismo.</p>
    </section>









</section>


<footer>
    <p>Entre em contato:</p> <a target="_blank" href="https://api.whatsapp.com/send?phone=5551996921411" id="whatsap"></a>
    <p>Siga nossas redes:</p>
    <a target="_blank" href="https://www.facebook.com/gauchaclinica?locale=pt_BR" id="rede1"> </a>  <a target="_blank" href="https://www.instagram.com/gauchaclinicarede?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" id="rede2"> </a>
    
</footer>
{%endblock%}