

{% include template %}

{% block conteudo%}







<section id="tela_1" style="display: flex;">
    <p>Confirme seus dados</p>
    <section id="dados_paciente">

        <div class="dados">
            <dl>
                <dt>Nome</dt>
                <dd>{{dados_paciente[0]}}</dd>
            </dl>
            <dl>
                <dt>Telefone</dt>
                <dd>{{dados_paciente[2]}}</dd>
            </dl>
        
        </div>

        <div class="dados">
        
            <dl>
                <dt>E-mail</dt>
                <dd>{{dados_paciente[1]}}</dd>
            </dl>
            <dl>
                <dt>CPF</dt>
                <dd>{{dados_paciente[3]}}</dd>
            </dl>

            
        </div>
        
    </section>


<div id="botoes">
    
        <button id ="confirma">Confirmar</button>
        <button><a href="/pagina_edicao">Editar dados</a></button>
</div>


</section>


<section id="tela_2" style="display: none;">

    <p>Selecione a especialidade</p>

    <ul id="especialidades">
        <li>Clínico geral</li>
        <li>Otorrinolaringologista</li>
        <li>Ortopedista</li>
        <li>Oftalmologista</li>
        <li>Nutricionista</li>
        
    </ul>

    <button id="btn_voltar">Voltar</button>


</section>



<section id="tela_3" style="display: none;">
    <p>Selecione a data</p>

        <div>
            <section id="calendario">
                <section id="container_ano">
                    <p id="ano">Ano</p>
                </section>
                <section id="container_mes">
                    <button id="anterior"></button>
                    <p id="mes">mes</p>
                    <button id="posterior"></button>
                </section>
                <ul id="dias_semana">
                    <li class="nome_dia">Dom</li>
                    <li class="nome_dia">Seg</li>
                    <li class="nome_dia">Ter</li>
                    <li class="nome_dia">Qua</li>
                    <li class="nome_dia">Qui</li>
                    <li class="nome_dia">Sex</li>
                    <li class="nome_dia">Sab</li>
            
                </ul>
                <section id="dias">
                    <table>
                        <tbody id="dias_do_mes">
            
            
                        </tbody>
                    </table>
            
            
                </section>
            </section>
            
            <div id="disponibilidade">

              
                
               
                

            
            </div>
            
        </div>

        <div id="botoes_agendamento">

            <button id="btn_voltar_tela3">Voltar</button>
            <button id="btn_agendar">Agendar</button>
        </div>

            
 </section>


 <section id="tela_4"  style="display: none;">
    <p>Confirme os dados da consulta</p>

    <ul id="info_consulta">

        <li><span class="descricao">Horário</span> <span id="hora"></span></li>
        <li><span class="descricao">Data</span> <span id="data"></span></li>
        <li><span class="descricao">Local</span> <span>Av. Cavalhada, 4611</span></li>
        <li><span class="descricao">Doutor(a)</span> <span id="nome_medico"></span></li>
        <li><span class="descricao">Especialidade</span> <span id="especialidade_medico"></span></li>

    </ul>

    <div id="botoes_finalizar">

        <button id="btn_voltar_tela4">Voltar</button>
        <button id="confirma_consulta">Confirmar</button>
    </div>
    

    </section>

    <dialog id="sucesso">
        <main>
            <div id="logo_status"></div>
            <p class="msg">Agendamento Concluído!</p>

                <button id="btn_confirma">Página inicial</button>
                <button ><a href="/consultas">Visualizar agendamentos</a></button>
            
        </main>
        
    </dialog>


    <dialog id="excecao">
        
            <main>
                <div></div>
                <p>Algo saiu errado Por favor tente novamente.</p>
                <div id="botoes_mod">
                    <button id="confirma">Ok</button>
                </div>
            </main>
        

    </dialog>

 

 {%endblock%}
       