
{% extends "template.html"%}

{% block conteudo%}



<ul id="etapas">
    <li>1</li>
    <div class="etapa2"></div>
    <li>2</li>
    <div class="etapa3"></div>
    <li>3</li>
    <div class="etapa4"></div>
    <li>4</li>
</ul>



<section id="tela_1">
    <p>Confirme seus dados</p>
    <section id="dados_paciente">

        <div class="dados">
            <dl>
                <dt>Nome</dt>
                <dd>definicao</dd>
            </dl>
            <dl>
                <dt>Telefone</dt>
                <dd>definicao</dd>
            </dl>
        
        </div>

        <div class="dados">
        
            <dl>
                <dt>E-mail</dt>
                <dd>definicao</dd>
            </dl>
            <dl>
                <dt>CPF</dt>
                <dd>definicao</dd>
            </dl>

            
        </div>
        
    </section>


<div id="botoes">
    
        <button>confirmar</button>
        <button>editar dados</button>
</div>


</section>


<section id="tela_2">
    <p>Selecione a especialidade</p>

    <ul>
        <li>Clínico geral</li>
        <li>Otorrinolaringologista</li>
        <li>ortopedista</li>
        <li>oftalmologista</li>
        <li>nutricionista</li>
        
    </ul>

    <button>Voltar</button>


</section>



<section id="tela_3">
    <p>Selecione a data</p>

        <div>
            <section id="calendario">
                <section id="container_ano">
                    <p id="ano">Ano</p>
                </section>
                <section id="container_mes">
                    <button id="anterior"></button>
                    <p id="mes">mes</p>
                    <button id="posterior"></button>
                </section>
                <ul id="dias_semana">
                    <li class="nome_dia">Dom</li>
                    <li class="nome_dia">Seg</li>
                    <li class="nome_dia">Ter</li>
                    <li class="nome_dia">Qua</li>
                    <li class="nome_dia">Qui</li>
                    <li class="nome_dia">Sex</li>
                    <li class="nome_dia">Sab</li>
            
                </ul>
                <section id="dias">
                    <table>
                        <tbody id="dias_do_mes">
            
            
                        </tbody>
                    </table>
            
            
                </section>
            </section>
            
            <div id="disponibilidade">

                <div class="informacoes">
                    <section class="dados_medico"><p>especialidade</p> <p>nome</p></section>
                    <ul class="horarios">
                        <li>13:30</li>
                    </ul>
                </div>
                
               
                

            
            </div>
            
        </div>
            
 </section>

 {%endblock%}
       